{{ $cols := .cols }}
{{ $unit := .unite }}
<table class="table border-black">
    <thead>
        <tr>
            <th scope="col" class="fs-6">Type</th>
            {{ range .cols }}
            <th class="text-center fs-6" scope="col">{{ . }}</th>
            {{ end }}
        </tr>
    </thead>
    <tbody>
        {{ range .types }}
            {{ $decoupage := partial "get_teaching_method_periods_type" (dict 
            "type" .type_enseignement_nom
            "decoupages" $unit.decoupages
            )}}
        <tr>
            <th scope="row" class="fs-6"> {{ .type_enseignement_nom }} </th>
            {{ range $cols }}
            <td class="text-center fs-6" >
                {{ if eq . $decoupage.type }}
                    {{ $decoupage.periodes }} 
                {{ end }}
            </td>
            {{ end }}
        </tr>
        {{ end }}
</table>