<table class="table border-black">
    <thead>
        <tr class="contenu-en-tete">
            <td class="contenu-type align-middle fs-6 fw-bold">
                {{ .type_enseignement_nom }}
            </td>
            <td class="text-center fs-6 align-middle">
                {{ .contenu_nombre_periodes }}
            </td>
        </tr>
    </thead>
    <tbody>
        {{ range .elements }}
            <tr>
                <td class="contenu-type contenu-sous-texte align-middle fs-6">
                    {{ .element_contenu_et_formes_texte }}
                </td>
                <td class="contenu-sous-texte text-center align-middle fs-6">
                    {{ .element_contenu_et_formes_nombre_periodes }}
                </td>
            </tr>
        {{ end }}
    </tbody>
</table>