<!DOCTYPE html>
<html class="h-100 w-100" lang="{{ $.Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body class="h-100 d-flex flex-column justify-content-center align-middle">
        <div id="breadcrumb">
            {{- partial "breadcrumb.html" . -}}
        </div>
        {{- partial "header.html" . -}}
        <div class="d-flex flex-column flex-fill m-0 p-1 m-md-2 p-md-2 overflow-y-auto">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>