{{ $n_semaines_semestre := 16 }}
{{ $n_semaines_hes_ete := 3 }}
{{ $n_semaines_trimestre := 8 }}
{{ $formation_duree := .Params.json_content.formation_duree_semestres }}
{{ $periodes_total := newScratch }}
{{ $pdf := (lower (replace (printf "%s-%s.pdf" (index .Ancestors 0).Params.json_content.formation_abreviation .Params.json_content.mode_formation_abreviation) "/" "-")) }}
{{ $pdf_link := printf "%s/pdf%s%s" .Site.BaseURL .RelPermalink $pdf }}
<div class="pdf-content">
    <table class="table modules-planning border-0">
        {{ range .Pages }}
        {{ $module_trimestriel := partial "module_trimestriel" . }}
        {{ $module_semestriel := partial "module_semestriel" . }}
        {{ $mod_page := . }}
        {{ $mod := .Params.json_content }}
        {{ $mod_ctx := dict
        "module" .
        "formation_duree" $formation_duree
        "n_semaines_semestre" $n_semaines_semestre
        "n_semaines_trimestre" $n_semaines_trimestre
        "n_semaines_hes_ete" $n_semaines_hes_ete
        }}
        {{ if $module_semestriel }}
        {{ partial "modules_planning/semestrial_module_planning" (merge $mod_ctx (dict "n_semaines" $n_semaines_semestre)) }}
        {{ else }}
        {{ if $module_trimestriel }}
        {{ partial "modules_planning/trimestrial_module_planning" (merge $mod_ctx (dict "n_semaines" $n_semaines_trimestre)) }}
        {{ else }}
        {{ $semesters := partial "get_semesters" $formation_duree }}
        {{ $trimesters := partial "get_only_trimesters" $formation_duree }}
        {{ partial "modules_planning/hybrid_type_module_planning" (merge $mod_ctx (dict "semestres" $semesters "trimestres" $trimesters))}}
        {{ end }}
        {{ end }}
        {{ end }}
        {{ $semesters := partial "get_semesters" $formation_duree }}
        {{ $trimesters := partial "get_trimesters" (int $formation_duree) }}
        {{ $periodes_tot_ctx := dict
        "page" .
        "n_semaines_semestre" $n_semaines_semestre
        "n_semaines_trimestre" $n_semaines_trimestre
        "n_semaines_hes_ete" $n_semaines_hes_ete
        }}
        {{ $unite_trimestrielle := partial "planning_trimestriel" . }}
        {{ $cols := slice }}
        {{ if $unite_trimestrielle }}
        {{ $cols = $trimesters }}
        {{ else }}
        {{ $cols = $semesters }}
        {{ end }}
        {{ $periods_tot := partial "get_module_total_periods" $periodes_tot_ctx }}
        <tbody>
        <tr>
            <td class="week-cell fw-bold">
                {{ i18n "per_week_periods" }}
            </td>
            <td class="week-cell"></td>
            <td rowspan="2" class="week-cell">
            </td>
            {{ range $col := $cols }}
            {{ $periodes := $periods_tot.Get $col }}
            <td class="text-center align-middle period-cell total-periods-cell" {{ if hasPrefix $col "S" }} colspan="2" {{ end }}> {{ if gt $periodes 0 }} {{ $periodes }} {{ end }} </td>
            {{ end }}
        </tr>
        </tbody>
    </table>
    <div class="d-flex flex-column caption">
        <div>
            <h6 class="fw-bold"> {{ i18n "caption" }} : </h6>
        </div>
        <div class="fs-6">
            {{ (i18n "module_planning_caption") | safeHTML }}
        </div>
    </div>
</div>