<nav aria-label="breadcrumb bg-body-tertiary">
    <ol class="breadcrumb m-0 p-3 d-flex align-middle">
        {{ define "breadcrumb" }}
        {{ $unwanted_breadcrumbs := slice "entite_academique" "filiere" }} {{/* A modifier en fonction des besoins */}}
        {{ $ctx := dict "Page" . "Level" (len .Ancestors) }}
        {{ with .Parent }}
        {{ template "breadcrumb" . }}
        {{ if not (in $unwanted_breadcrumbs .Params.type) }}
        <li class="breadcrumb-item"><a href="{{ .Permalink }}">{{ if .IsHome }}Home{{ else }}{{ .Title }}{{ end }}</a>
        </li>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ if not .IsHome }}
        {{ template "breadcrumb" . }}
        <li class="breadcrumb-item active" aria-current="page"> {{ .Title }}</li>
        {{ end }}
    </ol>
</nav>
