{{ $type := .Params.type }}
{{ if eq $type "module" }}
    {{ $autres_programmes := partial "module/get_other_programs_module" . }}
    {{ $mod := .Params.json_content }}
    {{ $pdf_link := printf "%s/pdf%s%s.pdf" .Site.BaseURL .RelPermalink ($mod.module_code | urlize) }}
    <nav class="p-3 navbar navbar-expand-lg bg-body-tertiary d-flex justify-content-between align-items-center border">
        <div class="m-1">
            <a class="btn btn-secondary" href="{{ (index .Ancestors 0).Permalink }}">
                {{ i18n "back_to_list" }}
            </a>
        </div>
        <div class="m-1 p-0 d-flex flex-column align-items-center justify-content-center text-center">
            <h5 class="m-1 p-0 fw-bold"> {{ i18n "module_description" }} </h5>
            <h5 class="m-1 p-0 fw-bold"> {{ $mod.module_nom }} </h5>
        </div>
        <div class="d-flex">
            <div class="m-1">
                <button type="button" class="btn btn-secondary" data-html2canvas-ignore="true" onclick="openAndDownloadPDF('{{ $pdf_link }}')">
                    PDF
                </button>
            </div>
            <div class="m-1">
                {{ partial "other_programs_dropdown" $autres_programmes }}
            </div>
        </div>
    </nav>
{{ end }}
{{ if eq $type "unite" }}
{{ $autres_programmes := partial "unit/get_other_programs_unit" . }}
{{ $unit := .Params.json_content }}
{{ $pdf_link := printf "%s/pdf%s%s.pdf" .Site.BaseURL .RelPermalink ($unit.unite_abreviation | urlize) }}
    <nav class="p-3 navbar navbar-expand-lg bg-body-tertiary d-flex justify-content-between align-items-center border">
        <div class="m-1">
            {{ partial "other_programs_dropdown" $autres_programmes }}
        </div>
        <div class="m-1 p-0 d-flex flex-column align-items-center justify-content-center text-center">
            <h5 class="m-1 p-0 fw-bold"> {{ i18n "unit_sheet" }} </h5>
            <h5 class="m-1 p-0 fw-bold"> {{ $unit.unite_nom }} </h5>
        </div>
        <div class="m-1">
            <button class="btn btn-secondary" onclick="openAndDownloadPDF('{{ $pdf_link }}')">
                PDF
            </button>
        </div>
    </nav>
{{ end }}
{{ if eq $type "mode_formation" }}
    {{ $pdf := (lower (replace (printf "%s-%s.pdf" (index .Ancestors 0).Params.json_content.formation_abreviation .Params.json_content.mode_formation_abreviation) "/" "-")) }}
    {{ $pdf_link := printf "%s/pdf%s%s" .Site.BaseURL .RelPermalink $pdf }}
    <nav class="p-3 navbar navbar-expand-lg bg-body-tertiary d-flex justify-content-center border">
        <button type="button" class="btn btn-secondary" data-html2canvas-ignore="true" onclick="openAndDownloadPDF('{{ $pdf_link }}')">
            {{ i18n "formation_booklet_pdf" }}
        </button>
    </nav>
{{ end }}