<div class="d-flex justify-content-center h-auto border fixed-top" id="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item d-flex flex-row">
                    <a class="container-fluid d-flex flex-row nav-link {{ if .IsHome }} active {{ end }}" href="{{ .Site.Home.Permalink }}">
                        <i class="fa fa-home fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>