{{ $mod := . }}
{{ $unites_obligatoires := slice }}
{{ $unites_facultatives := slice }}
{{ range .Pages }}
{{ $unite := .Params.json_content }}
    {{ if eq $unite.unite_id_groupe_alternatives nil }}
        {{ if $unite.unite_obligatoire }}
            {{ $unites_obligatoires = ($unites_obligatoires | append .) }}
        {{ else }}
            {{ $unites_facultatives = ($unites_facultatives | append .) }}
        {{ end }}
    {{ end }}
{{ end }}
{{ $ret := dict "obligatoires" $unites_obligatoires }}
{{ $ret = merge $ret (dict "facultatives" $unites_facultatives) }}
{{ $groupes := slice }}
{{ range .Params.json_content.groupes_alternatives }}
    {{ $group := . }}
    {{ $units := slice }}
    {{ range $mod.Pages }}
        {{ $unit := .Params.json_content }}
        {{ if eq $unit.unite_id_groupe_alternatives $group.groupe_alternatives_id }}
            {{ $units = $units | append . }}
        {{ end }}
    {{ end }}
    {{ $dict := merge . (dict "unites" $units) }}
    {{ $groupes = $groupes | append $dict }}
{{ end }}
{{ $ret = merge $ret (dict "groupes" $groupes) }}
{{ return $ret }}