{{ $cols := .cols }}
{{ $n_semaines_semestre := int .n_semaines_semestre }}
{{ $n_semaines_hes_ete := int .n_semaines_hes_ete }}
{{ $n_semaines := int .n_semaines }}
{{ $ctx := . }}
{{ $unit := .unite }}
<th scope="row" class="align-middle text-center coef-value-cell fw-normal p-1 p-md-2">
    {{ if lt $unit.unite_coefficient 1 }} {{ i18n "optional_abbreviation" }} {{ else }} {{ $unit.unite_coefficient }} {{ end }}
</th>
{{ range $col := $cols }}
    {{ $unit_ctx := dict
        "unite" $unit
        "type" $col
        }}
    {{ $examen := partial "unit_exam" $unit }}
    {{ $last := partial "module_last_semester_of" (dict "unite" $unit "type" $col)}}
    {{ $decoupage := partial "get_unit_periods_type" $unit_ctx }}
    {{ $periodes := div $decoupage.periodes $n_semaines }}
    {{ if hasPrefix $col "E" }}
        {{ $periodes = div $decoupage.periodes $n_semaines_hes_ete }}
    {{ end }}
    <td class="
    p-1 p-md-2
    align-middle
    text-center
    period-cell
    {{ if $ctx.semestrial }}semestrial-cell{{ else }}trimestrial-cell{{ end }}
    {{ if and $examen (not (lt $decoupage.periodes 1)) $last }} examen{{ end }}"
    {{ if hasPrefix $col "S"}} colspan="2" {{ end }}
    >
        {{ if not (lt $decoupage.periodes 1) }}
            {{ $periodes }}
        {{ end }}
    </td>
{{ end }}