{{ $types := site.Data.bachelor.types_modules }}
{{ $type := .module_type_module_id }}
{{ $mod := . }}
<div class="flex-fill">
    <b> {{ i18n "type" }} </b>
    <br>
    {{ range $i, $typ := $types }}
    <div class="form-check">
        <input class="form-check-input"
               type="checkbox"
               id="flexCheckCheckedDisabled-module-{{ $mod.module_code }}-type{{$i}}"
               {{ if eq $type $typ.id }} checked {{ end }} disabled>
        <label class="form-check-label"
               for="flexCheckCheckedDisabled-module-{{ $mod.module_code }}-type{{$i}}">
            {{ $typ.texte }}
        </label>
    </div>
    {{ end }}
</div>
