<div class="flex-fill">
    <h6 class="fw-bold m-0 p-0"> {{ i18n "caracteristic" }} </h6>
    <div class="form-check d-flex align-items-center ms-2 mt-1 p-0">
        <input class="form-check-input m-0 p-0" type="checkbox" value="" id="flexCheckDisabled-caracs-{{.module_code}}" {{ if .module_obligatoire }} checked
            {{ end }}disabled>
        <label class="form-check-label m-0 ms-1 p-0" for="flexCheckDisabled-caracs-{{.module_code}}">
            {{ i18n "mandatory_module" }}
        </label>
    </div>
    <div class="ms-2">
        <p> {{ i18n "mandatory_module_failure" }} </p>
    </div>
</div>
