{{/* Getting ancestors informations */}}
{{ $mod := .Params.json_content }}
{{ if $mod.module_descriptif_valide }}
{{ $upper_infos := partial "module/get_module_upper_infos" .}}
{{ $module_mode_full := false }}
{{ $eacademique := index .Ancestors 2 }}
{{ $autres_programmes := partial "module/get_other_programs_module" . }}
{{ $pdf_link := printf "%s/pdf%s%s.pdf" .Site.BaseURL .RelPermalink ($mod.module_code | urlize) }}
<div class="pdf-content">
    <div class="d-flex flex-column" data-html2canvas-ignore="true">
        <div class="mb-2 align-self-center">
            <h3> <b>{{ i18n "module_description" }}</b> </h3>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <a class="btn btn-primary" href="{{ (index .Ancestors 0).Permalink }}">
                    {{ i18n "back_to_list" }}
                </a>
            </div>
            <div>
                {{ partial "other_programs_dropdown" $autres_programmes }}
            </div>
        </div>
    </div>
    <div class="card border-bottom-0 rounded-bottom-0">
        <div class="card-header d-flex align-center flex-row module-titre">
            <div class="d-flex flex-wrap flex-column flex-grow-1">
                <b>{{ $mod.module_nom}} <br> {{ $mod.module_code }} - {{ index $upper_infos "mode" }} </b>
            </div>
            <div class="d-flex align-items-center" data-html2canvas-ignore="true">
                <button type="button" class="btn btn-primary" data-html2canvas-ignore="true" onclick="openAndDownloadPDF('{{ $pdf_link }}')">
                    PDF
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="module-titre-infos">
                <div class="d-flex flex-row">
                    <div class="w-25">
                        <b> {{ i18n "domains" }} </b> :
                    </div>
                    <div>
                        {{ $upper_infos.domaine }}
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="w-25">
                        <b> {{ i18n "branch" }} </b> :
                    </div>
                    <div>
                        {{ $upper_infos.filiere }}
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="w-25">
                        <b> {{ i18n "orientation" }} </b> :
                    </div>
                    <div>
                        {{ $upper_infos.orientation }}
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="w-25">
                        <b> {{ i18n "mode" }} </b> :
                    </div>
                    <div>
                        {{ $upper_infos.mode }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card module-intitule rounded-0 border-bottom-0">
        <div class="card-header d-flex align-center border-0 rounded-0">
            <div>
                <b> 1. {{ i18n "module_title" }} </b>
            </div>
        </div>
        <div class="card-body d-flex flex-column">
            <div class="d-flex flex-column">
                <div>
                    <b> {{ i18n "name" }} </b> : {{ $mod.module_nom }}
                </div>
                <div>
                    <b> {{ i18n "code" }} </b> : {{ $mod.module_code }}
                </div>
                <div>
                    <b> {{ i18n "academic_years" }} </b> :
                    {{ if not (eq $mod.module_validite nil)}}
                    {{ partial "list_as_str" $mod.module_validite }}
                    {{ end }}
                </div>
                <div>
                    <b> {{ i18n "formation_type" }} </b> :
                    {{ range site.Data.bachelor.niveaux_formation }}
                    {{ if eq .id $mod.module_niveau_formation_id }}
                    {{ .nom }}
                    {{ end }}
                    {{ end }}
                </div>
                <div class="mb-2 d-flex flex-column">
                    <div class="d-flex flex-row">
                        <div class="d-flex flex-column w-50">
                            {{ partial "module/module_level.html" $mod }}
                            {{ partial "module/module_type.html" $mod }}
                        </div>
                        <div class="d-flex w-50 p-1">
                            {{ partial "module/module_caracs.html" $mod }}
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div>
                        <b> {{ i18n "time_organization" }} </b>
                    </div>
                    <div>
                        <p> {{ i18n "time_organization_table_description" }} </p>
                        {{ partial "module/module_units_schedule.html" . }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card module-organisation rounded-0 border-bottom-0">
        <div class="card-header dflex align-center border-0 rounded-0">
            <b> 2. {{ i18n "organization" }} </b>
        </div>
        <div class="card-body">
            <div class="d-flex flex-column">
                <div>
                    <b> {{ i18n "ects_credits" }} </b> : {{ $mod.module_credits }}
                </div>
                <div>
                    <b> {{ i18n "instruction_main_languages" }} </b> :
                    {{ if $mod.module_a_options }}
                    {{ i18n "options_module_depending" | strings.FirstUpper }}
                    {{ else}}
                    {{ partial "list_as_str" $mod.langues }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    <div class="card module-prerequis rounded-0 border-bottom-0">
        <div class="card-header dflex align-center border-0 rounded-0">
            <div>
                <b> 3. {{ i18n "prerequisites" }} </b>
            </div>
        </div>
        <div class="card-body d-flex flex-column">
            {{ partial "module/module_prerequis" $mod }}
        </div>
    </div>
    <div class="card module-objectifs rounded-0 border-bottom-0">
        <div class="card-header dflex align-center border-0 rounded-0">
            <div>
                <b> 4. {{ i18n "learning_objectives" }} </b>
            </div>
        </div>
        <div class="card-body d-flex flex-column">
            <div>
                {{ $mod.module_objectifs | safeHTML }}
            </div>
        </div>
    </div>
    <div class="card module-enseignements rounded-0 border-bottom-0">
        <div class="card-header dflex align-center border-0 rounded-0">
            <div>
                <b> 5. {{ i18n "content_teaching_methods" }} </b>
            </div>
        </div>
        <div class="card-body d-flex flex-column">
            {{ if $mod.module_a_options }}
            <div>
                <div>
                    <b>{{ i18n "options_module" }}</b>
                </div>
                <div>
                    {{ i18n "options_module_teaching_methods" }}
                </div>
            </div>
            {{ else }}
            <div>
                {{ $formes_enseignement := slice }}
                {{ range .Pages }}
                {{ $unit := .Params.json_content }}
                <div>
                    <b> {{ $unit.unite_nom }} (<a href="{{ .Permalink }}" class="pdf-link"> {{ $unit.unite_abreviation }}
                    </a>) </b>
                    <div class="m-2">
                        {{ $unit.unite_resume | safeHTML }}
                        <b> {{ i18n "teaching_methods" }} </b> :
                        {{ $types := partial "get_teaching_methods" $unit }}
                        {{ $types_nom := slice }}
                        {{ range $types }}
                        {{ $types_nom = $types_nom | append .type_enseignement_nom }}
                        {{ end }}
                        {{ range $types_nom }}
                        {{ $formes_enseignement = $formes_enseignement | append . }}
                        {{ end }}
                        {{ partial "list_as_str" $types_nom }}
                    </div>
                </div>
                {{ end }}
            </div>
            <div>
                <div>
                    <b> {{ i18n "teaching_methods" }} </b> : {{ partial "list_as_str" ($formes_enseignement | uniq) }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    <div class="card module-evaluation rounded-0 border-bottom-0">
        <div class="card-header dflex align-center border-0 rounded-0">
            <b> 6. {{ i18n "evaluation" }} </b>
        </div>
        <div class="card-body d-flex flex-column">
            <div>
                {{ i18n "compensation_threshold" }} : {{ $mod.module_seuil_compensation }}
            </div>
            {{ if $mod.module_a_options }}
            <div>
                {{ i18n "options_module_min_fundamental_credits" | strings.FirstUpper }} :
                {{ $mod.module_credits_fondamentaux_min }}
            </div>
            <div>
                {{ i18n "options_module_final_grade_computation" | strings.FirstUpper }}
            </div>
            <div>
                <b>{{ i18n "final_module_grade" }}</b>
            </div>
            <div>
                {{ i18n "options_module_final_grade_description" | strings.FirstUpper }}
                <div>
                    {{ i18n "final_grade" }} = {{ i18n "options_module_depending" }}
                </div>
            </div>
            {{ else }}
            <div>
                {{ i18n "repetition_threshold" }} : {{ $mod.module_seuil_repetition }}
            </div>
            <div>
                {{ partial "module/module_evaluation.html" . }}
            </div>
            {{ end }}
        </div>
    </div>
    <div class="card module-remediation rounded-0 border-bottom-0">
        <div class="card-header dflex align-center border-0 rounded-0">
            <b> 7. {{ i18n "remediation" }} </b>
        </div>
        <div class="card-body d-flex flex-column">
            {{ partial "module/module_type_remediation.html" $mod }}
        </div>
    </div>
    <div class="card module-remarques rounded-0 border-bottom-0">
        <div class="card-header dflex align-center border-0 rounded-0">
            <b> 8. {{ i18n "remarks" }} </b>
        </div>
        <div class="card-body">
            {{ if eq $mod.remarques nil }}
            {{ i18n "no_remark" }}.
            {{ else }}
            {{ $mod.module_remarques | safeHTML }}
            {{ end }}
        </div>
    </div>
    <div class="card module-bibliographie rounded-top-0">
        <div class="card-header dflex align-center border-0 rounded-0">
            <b> 9. {{ i18n "bibliography" }} </b>
        </div>
        <div class="card-body d-flex flex-column">
            {{ if $mod.module_a_options }}
            {{ i18n "options_module_depending" | strings.FirstUpper }}.
            {{ else }}
            {{ range .Pages }}
            {{ $unite := .Params.json_content }}
            <div>
                <b> {{ $unite.unite_nom }} (<a href="{{ .Permalink }}" class="pdf-link"> {{ $unite.unite_abreviation }} </a>)
                </b>
                <div>
                    {{ $unite.unite_bibliographie | safeHTML }}
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
        <div class="card-footer border-0 d-flex align-items-center" data-html2canvas-ignore="true">
            <div class="flex-fill d-flex align-content-center">
                <a class="btn btn-primary" href="{{ (index .Ancestors 0).Permalink }}">
                    {{ i18n "back_to_list" }}
                </a>
            </div>
            <div class="flex-fill d-flex align-content-center justify-content-end flex-wrap">
                {{ i18n "version_of" | strings.FirstUpper }}
                {{ $mod.module_validation | time.Format ":date_long" }}
            </div>
        </div>
    </div>
</div>
{{ else }}
<div class="card">
    <div class="p-2 card-header d-flex align-center">
        <b> {{ i18n "unvalidated_module_header" }} </b>
    </div>
    <div class="p-2 card-body d-flex align-items-center">
        <div>
            <p class="m-0">
                {{ i18n "unvalidated_module_body" }}
            </p>
        </div>
    </div>
</div>
{{ end }}