
{{ $mod := .Params.json_content }}
{{ $cols := partial "get_semesters" (index .Ancestors 0).Params.json_content.formation_duree_semestres }}
{{ if $mod.module_a_options }}
{{ $mode := (index .Ancestors 0).Params.json_content.mode_formation_abreviation }}
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col"> {{ i18n "type" }} </th>
        {{ range $cols }}
        <th class="text-center" scope="col">{{ . }}</th>
        {{ end }}
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row"> {{ $mode }} </th>
        {{ range $i, $col :=  $cols }}
        <td class="text-center">
            {{ if eq $i (sub (len $cols) 1) }}
            x
            {{ end }}
        </td>
        {{ end }}
    </tr>
    </tbody>
</table>
{{ else }}
    {{ $units_groups := partial "module/get_module_units_groups" . }}
    {{ $unites_obligatoires := $units_groups.obligatoires }}
    {{ $units_ctx := dict
        "unites" $units_groups.obligatoires
        "cols" $cols
        }}
    <div class="container-fluid">
        {{ partial "module/units_schedule" $units_ctx }}
        {{ partial "module/units_alternatives_schedule" (merge $units_groups (dict "cols" $cols)) }}
    </div>
{{ end }}