
{{ $mod := .Params.json_content }}
{{ $cols := partial "get_semesters" (index .Ancestors 0).Params.json_content.formation_duree_semestres }}
{{ if $mod.module_a_options }}
{{ $mode := (index .Ancestors 0).Params.json_content.mode_formation_abreviation }}
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col"> {{ i18n "type" }} </th>
        {{ range $cols }}
        <th class="text-center" scope="col">{{ . }}</th>
        {{ end }}
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row"> {{ $mode }} </th>
        {{ range $i, $col :=  $cols }}
        <td class="text-center">
            {{ if eq $i (sub (len $cols) 1) }}
            x
            {{ end }}
        </td>
        {{ end }}
    </tr>
    </tbody>
</table>
{{ else }}
{{ $unites_obligatoires := slice }}
{{ $unites_alternatives := slice }}
{{ range .Pages }}
{{ $unite := .Params.json_content }}
    {{ if eq $unite.unite_id_groupe_alternatives nil }}
        {{ $unites_obligatoires = ($unites_obligatoires | append .) }}
    {{ else }}
        {{ $unites_alternatives = ($unites_alternatives | append .) }}
    {{ end }}
{{ end }}
{{ $units_alternatives_ctx := dict
    "unites" $unites_alternatives
    "groupes" $mod.groupes_alternatives
    "cols" $cols
    }}
{{ $units_ctx := dict
    "module" $mod.module_code
    "unites" $unites_obligatoires
    "cols" $cols
    }}     
<div class="container">
    {{ if gt (len $unites_alternatives) 0 }}
        <b> {{ i18n "mandatory_unit" (len $unites_obligatoires) }} </b>
        {{ partial "module/units_schedule" $units_ctx }}
        <b> {{ i18n "alternative_unit" (len $unites_alternatives) }} </b>
        <br>
        {{ partial "module/units_alternatives_schedule" $units_alternatives_ctx }}
    {{ else }}
        {{ partial "module/units_schedule" $units_ctx}}
    {{ end }}
</div>
{{ end }}