{{/* Getting ancestors informations */}}
{{ $mod := .Params.json_content }}
{{ if $mod.module_descriptif_valide }}
{{ $upper_infos := partial "module/get_module_upper_infos" .}}
{{ $module_mode_full := false }}
{{ $eacademique := index .Ancestors 2 }}
{{ $autres_programmes := partial "module/get_other_programs_module" . }}
{{ $pdf_link := printf "%s/pdf%s%s.pdf" .Site.BaseURL .RelPermalink ($mod.module_code | urlize) }}
<div class="pdf-content m-0 p-0">
    <div class="card border-black border-bottom-0 rounded-bottom-0">
        <div class="card-header d-flex align-center flex-row module-titre">
            <div class="d-flex flex-wrap flex-column flex-grow-1">
                <h5 class="fw-bold m-0 p-0"> {{ $mod.module_nom}} </h5>
                <h6 class="m-0 ms-2 p-0"> {{ $mod.module_code }} - {{ index $upper_infos "mode" }} </h6>
            </div>
        </div>
        <div class="card-body">
            <div class="module-titre-infos">
                {{ partial "general_information_row" (dict "name" "domains" "content" $upper_infos.domaine) }}
                {{ partial "general_information_row" (dict "name" "branch" "content" $upper_infos.filiere) }}
                {{ partial "general_information_row" (dict "name" "orientation" "content" $upper_infos.orientation) }}
                {{ partial "general_information_row" (dict "name" "mode" "content" $upper_infos.mode) }}
            </div>
        </div>
    </div>
    <div class="card border-black module-intitule rounded-0 border-top-0 border-bottom-0">
        <div class="card-header d-flex align-center border-0 rounded-0">
            <div>
                <h5 class="fw-bold m-0 p-0"> 1. {{ i18n "module_title" }} </h5>
            </div>
        </div>
        <div class="card-body d-flex flex-column">
            <div class="d-flex flex-column">
                {{ partial "general_information_row" (dict "name" "name" "content" $mod.module_nom) }}
                {{ partial "general_information_row" (dict "name" "code" "content" $mod.module_code) }}
                {{ partial "general_information_row" (dict "name" "academic_years" "content" (partial "list_as_str" $mod.module_validite)) }}
                {{ $formation_type := "-" }}
                {{ range site.Data.bachelor.niveaux_formation }}
                    {{ if eq .id $mod.module_niveau_formation_id }}
                        {{ $formation_type = .nom }}
                    {{ end }}
                {{ end }}
                {{ partial "general_information_row" (dict "name" "formation_type" "content" $formation_type) }}
                <div class="mb-2 d-flex flex-column">
                    <div class="d-flex flex-row">
                        <div class="d-flex flex-column w-50">
                            {{ partial "module/module_level.html" $mod }}
                            {{ partial "module/module_type.html" $mod }}
                        </div>
                        <div class="d-flex w-50 p-1">
                            {{ partial "module/module_caracs.html" $mod }}
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div>
                        <h5 class="fw-bold m-0 p-0"> {{ i18n "time_organization" }} </h5>
                    </div>
                    <div>
                        <p class="fs-6"> {{ i18n "time_organization_table_description" }} </p>
                        {{ partial "module/module_units_schedule.html" . }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-black module-organisation rounded-0 border-top-0 border-bottom-0">
        <div class="card-header dflex align-center border-0 rounded-0">
            <h5 class="fw-bold m-0 p-0"> 2. {{ i18n "organization" }} </h5>
        </div>
        <div class="card-body">
            <div class="d-flex flex-column">
                {{ partial "general_information_row" (dict "name" "ects_credits" "content" $mod.module_credits) }}
                {{ $langues := partial "list_as_str" $mod.langues }}
                {{ if $mod.module_a_options }}
                    {{ $langues = i18n "options_module_depending" | strings.FirstUpper }}
                {{ end }}
                {{ partial "general_information_row" (dict "name" "instruction_main_languages" "content" ($langues)) }}
            </div>
        </div>
    </div>
    <div class="card border-black module-prerequis rounded-0 border-top-0 border-bottom-0">
        <div class="card-header dflex align-center border-0 rounded-0">
            <div>
                <h5 class="fw-bold m-0 p-0"> 3. {{ i18n "prerequisites" }} </h5>
            </div>
        </div>
        <div class="card-body d-flex flex-column">
            {{ partial "module/module_prerequis" $mod }}
        </div>
    </div>
    <div class="card border-black module-objectifs rounded-0 border-top-0 border-bottom-0">
        <div class="card-header dflex align-center border-0 rounded-0">
            <div>
                <h5 class="fw-bold m-0 p-0"> 4. {{ i18n "learning_objectives" }} </h5>
            </div>
        </div>
        <div class="card-body d-flex flex-column">
            <div>
                {{ $mod.module_objectifs | safeHTML }}
            </div>
        </div>
    </div>
    <div class="card border-black module-enseignements rounded-0 border-top-0 border-bottom-0">
        <div class="card-header dflex align-center border-0 rounded-0">
            <div>
                <h5 class="fw-bold m-0 p-0"> 5. {{ i18n "content_teaching_methods" }} </h5>
            </div>
        </div>
        <div class="card-body d-flex flex-column">
            {{ if $mod.module_a_options }}
            <div>
                <div>
                    <h6 class="fw-bold m-0 p-0">{{ i18n "options_module" }}</h6>
                </div>
                <div>
                    {{ i18n "options_module_teaching_methods" }}
                </div>
            </div>
            {{ else }}
            <div>
                {{ $formes_enseignement := slice }}
                {{ range .Pages }}
                {{ $unit := .Params.json_content }}
                <div class="mb-3">
                    <h6 class="fw-bold m-0 p-0"> {{ $unit.unite_nom }} (<a href="{{ .Permalink }}" class="pdf-link"> {{ $unit.unite_abreviation }}
                    </a>) </h6>
                    <div class="m-2">
                        {{ $unit.unite_resume | safeHTML }}
                        <div class="d-flex">
                            <h6 class="fw-bold m-0 p-0"> {{ i18n "teaching_methods" }} : </h6>
                            {{ $types := partial "get_teaching_methods" $unit }}
                            {{ $types_nom := slice }}
                            {{ range $types }}
                            {{ $types_nom = $types_nom | append .type_enseignement_nom }}
                            {{ end }}
                            {{ range $types_nom }}
                            {{ $formes_enseignement = $formes_enseignement | append . }}
                            {{ end }}
                            <h6 class="m-0 ms-1 p-0"> {{ partial "list_as_str" $types_nom }} </h6>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <div>
                <div class="d-flex">
                    <h6 class="fw-bold m-0 p-0"> {{ i18n "teaching_methods" }} : </h6>
                    <h6 class="m-0 ms-1 p-0"> {{ partial "list_as_str" ($formes_enseignement | uniq) }} </h6>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    <div class="card border-black module-evaluation rounded-0 border-top-0 border-bottom-0">
        <div class="card-header dflex align-center border-0 rounded-0">
            <h5 class="fw-bold m-0 p-0"> 6. {{ i18n "evaluation" }} </h5>
        </div>
        <div class="card-body d-flex flex-column">
            <div class="d-flex align-items-center">
                <h6 class="p-0 m-0">{{ i18n "compensation_threshold" }} : </h6> <p class="fs-6 p-0 m-0 ms-1">{{ $mod.module_seuil_compensation }}</p>
            </div>
            {{ if $mod.module_a_options }}
            <div>
                {{ i18n "options_module_min_fundamental_credits" | strings.FirstUpper }} :
                {{ $mod.module_credits_fondamentaux_min }}
            </div>
            <div>
                {{ i18n "options_module_final_grade_computation" | strings.FirstUpper }}
            </div>
            <div>
                <h6 class="fw-bold m-0 p-0">{{ i18n "final_module_grade" }}</h6>
            </div>
            <div>
                <p class="m-0 p-0 fs-6">
                    {{ i18n "options_module_final_grade_description" | strings.FirstUpper }}
                </p>
                <p class="m-0 p-0 fs-6">
                    {{ i18n "final_grade" }} = {{ i18n "options_module_depending" }}
                </p>
            </div>
            {{ else }}
            <div class="d-flex align-items-center mb-2">
                <h6 class="p-0 m-0">{{ i18n "repetition_threshold" }} : </h6> <p class="fs-6 p-0 m-0 ms-1">{{ $mod.module_seuil_repetition }}</p>
            </div>
            <div>
                {{ partial "module/module_evaluation.html" . }}
            </div>
            {{ end }}
        </div>
    </div>
    <div class="card border-black module-remediation rounded-0 border-top-0 border-bottom-0">
        <div class="card-header dflex align-center border-0 rounded-0">
            <h5 class="fw-bold m-0 p-0"> 7. {{ i18n "remediation" }} </h5>
        </div>
        <div class="card-body d-flex flex-column">
            {{ partial "module/module_type_remediation.html" $mod }}
        </div>
    </div>
    <div class="card border-black module-remarques rounded-0 border-top-0 border-bottom-0">
        <div class="card-header dflex align-center border-0 rounded-0">
            <h5 class="fw-bold m-0 p-0"> 8. {{ i18n "remarks" }} </h5>
        </div>
        <div class="card-body m-0 p-2 ps-3">
            <p class="m-0 p-0 fs-6">
                {{ if eq $mod.remarques nil }}
                {{ i18n "no_remark" }}.
                {{ else }}
                {{ $mod.module_remarques | safeHTML }}
                {{ end }}
            </p>
        </div>
    </div>
    <div class="card border-black module-bibliographie border-top-0 rounded-top-0">
        <div class="card-header dflex align-center border-0 rounded-0">
            <h5 class="fw-bold m-0 p-0"> 9. {{ i18n "bibliography" }} </h5>
        </div>
        <div class="card-body d-flex flex-column">
            {{ if $mod.module_a_options }}
            {{ i18n "options_module_depending" | strings.FirstUpper }}.
            {{ else }}
            {{ range .Pages }}
            {{ $unite := .Params.json_content }}
            <div>
                <h6 class="fw-bold m-0 p-0"> {{ $unite.unite_nom }} (<a href="{{ .Permalink }}" class="pdf-link"> {{ $unite.unite_abreviation }} </a>)
                </h6>
                <div class="ms-1">
                    {{ $unite.unite_bibliographie | safeHTML }}
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
        <div class="card-footer border-0 d-flex align-items-center" data-html2canvas-ignore="true">
            <div class="flex-fill d-flex align-content-center justify-content-start flex-wrap">
                <h6 class="fw-bold p-0 m-0">
                    {{ i18n "version_of" | strings.FirstUpper }}
                    {{ $mod.module_validation | time.Format ":date_long" }}
                </h6>
            </div>
        </div>
    </div>
</div>
{{ else }}
<div class="card">
    <div class="p-2 card-header d-flex align-center">
        <h4 class="fw-bold m-0 p-0"> {{ i18n "unvalidated_module_header" }} </h4>
    </div>
    <div class="p-2 card-body d-flex align-items-center">
        <div>
            <p class="m-0">
                {{ i18n "unvalidated_module_body" }}
            </p>
        </div>
    </div>
</div>
{{ end }}