{{ $cols := .cols }}
{{ if gt (len .unites) 0  }}
<b> {{ i18n "mandatory_unit" (len .unites) }} </b>
<div class="container">
    <table class="table table-borderless">
        <thead>
        <tr>
            <th class="text-centered fs-6"> {{ i18n "abbreviation" }} </th>
            <th class="text-centered fs-6"> {{ i18n "volume" }} </th>
            <th class="text-centered fs-6"> {{ i18n "unit" }} </th>
        </tr>
        </thead>
        <tbody>
        {{ range .unites }}
        {{ $unit := .Params.json_content }}
        <tr>
            <td class="text-centered fs-6"> {{ $unit.unite_abreviation }} </td>
            <td class="text-centered fs-6"> {{ $unit.unite_charge }} </td>
            <td class="text-centered fs-6"> {{ $unit.unite_nom }} </td>
        </tr>
        {{ end }}
        </tbody>
    </table>
</div>
<table class="table table-bordered units-schedule">
    <thead>
    <tr>
        <th scope="col" class="fs-6"> {{ i18n "type" }} </th>
        {{ range $cols }}
        <th class="text-center fs-6 align-middle p-1 p-md-2" scope="col">{{ . }}</th>
        {{ end }}
    </tr>
    </thead>
    <tbody>
    {{ range .unites }}
    {{ $unit := .Params.json_content }}
    {{ $types := partial "get_teaching_methods" $unit }}
    {{ range $types }}
    {{ $decoupage := partial "get_teaching_method_periods_type" (dict
    "type" .type_enseignement_nom
    "decoupages" $unit.decoupages
    )}}
    <tr>
        <th scope="row" class="fs-6"> {{ $unit.unite_abreviation }} {{ .type_enseignement_nom }} </th>
        {{ range $cols }}
        <td class="text-center fs-6 align-middle p-1 p-md-2">
            {{ if eq . $decoupage.type }}
            {{ $decoupage.periodes }}
            {{ end }}
        </td>
        {{ end }}
    </tr>
    {{ end }}
    {{ end }}
    </tbody>
</table>
{{ end }}