{{ $cols := .cols }}
{{ if gt (len .unites) 0  }}
<b> {{ i18n "mandatory_unit" (len .unites) }} </b>
<table class="table table-borderless">
    <thead>
        <tr>
            <th class="text-centered"> <b> {{ i18n "abbreviation" }} </b> </th>
            <th class="text-centered"> <b> {{ i18n "volume" }} </b> </th>
            <th class="text-centered"> <b> {{ i18n "unit" }} </b> </th>
        </tr>
    </thead>
    <tbody>
        {{ range .unites }}
            {{ $unit := .Params.json_content }}
            <tr>
                <td class="text-centered"> {{ $unit.unite_abreviation }} </td>
                <td class="text-centered"> {{ $unit.unite_charge }} </td>
                <td class="text-centered"> {{ $unit.unite_nom }} </td>
            </tr>
        {{ end }}
    </tbody>
</table>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col"> {{ i18n "type" }} </th>
            {{ range $cols }}
            <th class="text-center" scope="col">{{ . }}</th>
            {{ end }}
        </tr>
        </thead>
        <tbody>
        {{ range .unites }}
        {{ $unit := .Params.json_content }}
        {{ $types := partial "get_teaching_methods" $unit }}
        {{ range $types }}
        {{ $decoupage := partial "get_teaching_method_periods_type" (dict
        "type" .type_enseignement_nom
        "decoupages" $unit.decoupages
        )}}
        <tr>
            <th scope="row"> {{ $unit.unite_abreviation }} {{ .type_enseignement_nom }} </th>
            {{ range $cols }}
            <td class="text-center">
                {{ if eq . $decoupage.type }}
                {{ $decoupage.periodes }}
                {{ end }}
            </td>
            {{ end }}
        </tr>
        {{ end }}
        {{ end }}
        </tbody>
    </table>
</div>
{{ end }}