{{ define "main" }}
{{ $ing := (index .Pages 0)}}
{{ $ee := (index .Pages 1) }}
{{ $ctx := dict
                "ctx" .
                "first" (dict
                            "Title" $ee.Title
                            "Permalink" $ee.Permalink
                            "background" "/images/st_roch.jpg")
                "second" (dict
                            "Title" $ing.Title
                            "Permalink" $ing.Permalink
                            "background" "/images/cheseaux.jpg")
}}
{{ partial "binary_choice_card.html" $ctx }}
{{ end }}