$border-custom-color: grey;
$border-custom-line: 1px solid $border-custom-color;

$link-custom-color: rgb(30, 77, 255);
$link-hover-custom-color: darken($link-custom-color, 10%);
$link-visited-custom-color: rgb(119, 84, 255);

$main-min-height: 50rem!important;

@mixin half-circle ($direction: bottom) {
    @if $direction == right {
        border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    }
    @elseif $direction == left {
        border-radius: 100% 0 0 100% / 50% 0 0 50%;
    }
    @elseif $direction == top {
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    }
    @elseif $direction == bottom {
        border-radius: 0 0 50% 50% / 0 0 100% 100%;
    }
    @else {
        @error 'Please set correct $direction value.'
    }
}

/* Links decorations */
a {
    text-decoration: none!important;
}

a:link {
    color: $link-custom-color;
}

a:hover {
    color: $link-hover-custom-color;
}

a:visited {
    color: $link-visited-custom-color;
}

.fraction-numerator {
    border-bottom: solid 1px black;
}

.fraction-denominator {
    margin: 0;
}

/* Modules planning */

.modules-planning {
    border-collapse: collapse;
    min-width: 45rem;
}

.modules-planning tbody:last-of-type {
    border-bottom: $border-custom-line;
}

.module-cell {
    border-top: $border-custom-line;
    border-left: $border-custom-line;
    border-bottom: 0;
    width: 60%!important;
}

.module-info-cell {
    border-left: $border-custom-line;
    border-bottom: 0;
    width: 60%!important;
}

.coef-cell {
    border-top: $border-custom-line;
    border-right: 1px dotted $border-custom-color;
    border-bottom: 0;
    width: 5%;
}

.under-coef-cell {
    border-right: 1px dotted $border-custom-color;
    border-bottom: 0;
    width: 5%;
}

.group-alternative-cell {
    border-bottom: 0;
    width: 5%;
}

.top-alternative {
    border-top: $border-custom-line!important;
}

.group-alternative-A {
    border-right: 2px solid red!important;
}

.group-alternative-B {
    border-right: 2px solid green!important;
}

.semester-cell {
    border-bottom: 0;
}

.only-semester-cell {
    border-right: 0!important;
    border-left: 0!important;
    border-top: $border-custom-line;
}

.only-semester-cell:last-child {
    border-right: $border-custom-line!important;
}

.only-trimester-cell {
    border-top: $border-custom-line;
    border-bottom: $border-custom-line!important;
}

.only-trimester-cell:last-child {
    border-right: $border-custom-line;
}

.semester-trimester-cell {
    border-top: $border-custom-line;
    border-bottom: $border-custom-line!important;
}

.under-semester-cell {
    border-bottom: $border-custom-line;
}

.under-semester-cell:last-child {
    border-right: $border-custom-line;
}

.semester-cell:last-child {
    border-right: $border-custom-line;
}

.coef-value-cell {
    border-right: $border-custom-line!important;
    border-bottom: 0;
}

.unit-cell {
    border-bottom: 0;
    border-left: $border-custom-line!important;
    width: 60%!important;
}

.period-cell {
    border-left: $border-custom-line;
    border-right: $border-custom-line;
    border-bottom: $border-custom-line;
}

.formation-cell {
    width: 50%!important;
}

.examen {
    border-right: 4px solid grey;
}

.contenu-en-tete {
    border-bottom: 2px solid grey;
}

.contenu-type {
    width: 90%;
}

.contenu-sous-texte {
    font-size: smaller;
}

.module-planning tbody {
    border-bottom: $border-custom-line;
}

.week-cell {
    border-bottom: $border-custom-line!important;
}

.week-cell:first-child {
    border-left: $border-custom-line!important;
}

$planning-bg-color: rgba(122, 167, 243, 0.6);

.semestrial-cell:nth-of-type(6n - 5) {
    background-color: $planning-bg-color!important;
}
.semestrial-cell:nth-of-type(6n - 4) {
    background-color: $planning-bg-color!important;
}
.semestrial-cell:nth-of-type(6n - 3) {
    background-color: $planning-bg-color!important;
}

.trimestrial-cell:nth-of-type(10n - 9) {
    background-color: $planning-bg-color!important;
}
.trimestrial-cell:nth-of-type(10n - 8) {
    background-color: $planning-bg-color!important;
}
.trimestrial-cell:nth-of-type(10n - 7) {
    background-color: $planning-bg-color!important;
}
.trimestrial-cell:nth-of-type(10n - 6) {
    background-color: $planning-bg-color!important;
}
.trimestrial-cell:nth-of-type(10n - 5) {
    background-color: $planning-bg-color!important;
}

.selectable-units td:last-of-type {
    background-color: grey!important;
}

.total-periods-cell {
    background-color: $planning-bg-color!important;
}

/* Home page */
$backdrop-filter-blur-px: 3px;

.blurred-container {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur($backdrop-filter-blur-px);
    -webkit-backdrop-filter: blur($backdrop-filter-blur-px);
    border-radius: 1rem;
    padding: 1rem;
    font-weight: bold;
}

$max-gaps-logo-dim : 8rem;

.gaps-logo {
    max-width: $max-gaps-logo-dim;
    max-height: $max-gaps-logo-dim;
}

.hes-logo {
    max-height: 2rem;
}

/* Module description */
.grade-container {
    width: fit-content;
}