<div class="w-100 d-flex flex-column flex-md-row align-items-center justify-content-between flex-fill flex-grow-0">
    <div class="mt-3 mt-md-0">
        <img class="logo-footer" src="/images/gaps-full.svg" alt="gaps-logo">
    </div>
    <div>
        <h6 class="m-0 p-3 me-3 text-center">
            {{ i18n "generated" }} {{ .Site.Data.bachelor.generation | time.Format ":date_short" }}
            Copyright © HEIG-VD 2004-2023 / {{ i18n "developped" (dict "Developped" "GAPS") }}
        </h6>
    </div>
    <div class="mb-3 mb-md-0 me-md-3">
        <img src="/images/logo_hesso_bw.svg" alt="logo-hes-so">
    </div>
</div>