{{ define "main" }}
{{ $bachelor := (index .Pages 0)}}
{{ $about := (index .Pages 1) }}
{{ $master := (index .Pages 2) }}
{{ $ctx := dict
            "ctx" .
            "first" (dict
                        "Title" $bachelor.Title
                        "Permalink" $bachelor.Permalink
                        "background" "/images/HEIGVD_CAMPUS_776-2-copie - copie.jpg"
                        "logo" (dict
                                    "link" "/images/logo-heig-21-fr.svg"
                                    "alt" "logo-heig"))
            "second" (dict
                        "Title" $master.Title
                        "Permalink" $master.Permalink
                        "background" "/images/mse.jpg"
                        "logo" (dict
                                    "link" "/images/logo_mse.svg"
                                    "alt" "logo-mse"))
    }}
{{ partial "binaryChoiceCard.html" $ctx }}
{{ end }}