{{ define "main" }}
{{ $bachelor := (index .Pages 0)}}
{{ $about := (index .Pages 1) }}
{{ $master := (index .Pages 2) }}
<div class="d-flex flex-column formation-container rounded-5 border">
    <div class="p-0 d-flex flex-fill flex-grow-1 formation-content">
        <div style="background-image: url('images/HEIGVD_CAMPUS_776-2-copie - copie.jpg');  background-size: cover; background-repeat: no-repeat;"
             class="container-fluid d-flex align-items-center justify-content-center formation-type-container formation-type-title-left">
            <div class="blurred-container d-flex justify-content-center">
                <a href="{{ $bachelor.Permalink }}">
                    <div class="mb-3 text-center text-white">
                        <h3> {{ i18n "formations" }} {{ i18n "bachelor" }} </h3>
                    </div>
                    <img class="homepage-logo" src="images/logo-heig-21-square-red.svg" alt="logo-heig">
                </a>
            </div>
        </div>
        <div style="background-image: url('images/mse.jpg');  background-size: cover; background-repeat: no-repeat;"
             class="container-fluid d-flex align-items-center justify-content-center formation-type-container formation-type-title-right">
            <div class="blurred-container d-flex justify-content-center">
                <a href="{{ $master.Permalink }}">
                    <div class="mb-3 text-center text-white">
                        <h3>{{ i18n "formations" }} {{ i18n "master" }}</h3>
                    </div>
                    <img class="homepage-logo" src="images/logo_mse.svg" alt="logo-hes-so">
                </a>
            </div>
        </div>
        <div class="logo-center d-flex justify-content-center" style="background-image: url('images/gaps-logo-2.svg');  background-size: contain;  background-position: center"></div>
    </div>
    <div class="container-fluid d-flex flex-fill flex-grow-0 justify-content-between" id="homepage-footer">
        <div>
            {{ i18n "generated" }} {{ .Site.Data.bachelor.generation | time.Format ":date_short" }}
            Copyright © HEIG-VD 2004-2023 / {{ i18n "developped" (dict "Developped" "GAPS") }}
        </div>
        <img class="" src="images/logo_hesso_bw.svg" alt="logo-hes-so">
    </div>
</div>
{{ end }}