{{ define "main" }}
{{ $bachelor := (index .Pages 0)}}
{{ $about := (index .Pages 1) }}
{{ $master := (index .Pages 2) }}
<nav class="p-0 container-fluid d-flex homepage-container mb-1">
    <div style="background-image: url('images/HEIGVD_CAMPUS_776-2-copie - copie.jpg');  background-size: cover;" class="borders container-fluid d-flex flex-column align-items-center justify-content-center formation-type-container">
        <div class="container blurred-container w-auto align-self-baseline formation-type-title-left">
            <a href="{{ $bachelor.Permalink }}">
                {{ i18n "formations" }}
                <br>
                {{ i18n "bachelor" }}
            </a>
        </div>
        <div class="blurred-container p-2 h-25 w-25 d-flex align-self-center justify-content-center">
            <img class="heig-logo" src="images/logo-heig-21-square-red.svg" alt="logo-heig">
        </div>

    </div>
    <div style="background-image: url('images/mse.jpg');  background-size: cover;" class="borders container-fluid d-flex flex-column align-items-center justify-content-center formation-type-container">
        <div class="container blurred-container p-2 w-auto align-self-baseline formation-type-title-right">
            <a href="{{ $master.Permalink }}">
                {{ i18n "formations" }}
                <br>
                {{ i18n "master" }}
            </a>
        </div>
        <div class="blurred-container p-2 h-25 w-75 d-flex align-self-center justify-content-center">
            <img class="mse-logo" src="images/logo_mse.svg" alt="logo-heig">
        </div>

    </div>
</nav>
{{ end }}